@font-face {
    font-family: Swell;
    src: url(../fonts/swell-regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.emoji {
    display: none;
}
.titulo {
    font-family: Swell;
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
    background: url(../assets/img/aa6e381775d3b0ab46122a201c32b7d4.jpg);
    background-repeat:repeat-x;
    color: black;
    text-shadow: 5px 5px 2px #F3B143;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 6%;
}


fieldset {
    border: none;
}

.cont-datos-personales {
    background-color: #B2E3CD;
    padding: 2%;
    display: flex;
}

.cont-contacto {
    background-color: #F3B143;
    padding: 2%;
}

.cont-actividades {
    background-color: #F4E3C7;
    padding: 2%;
}

legend {
    font-family: Swell;
    font-size: 2.7rem;
    margin-left: 5px;
    color: black;
}

.parte-inferior {
    background-color: black;
    color: #F4E3C7;
    padding: 2%;
}